.container {
	background-color: #111;
	color: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.inputContainer,
.resultContainer {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 4rem;
	/* background-color: rgb(175, 0, 0); */
	margin-bottom: 2px;
}



.inputContainer input,
.resultContainer input {
	position: absolute;
	background: transparent;
	border: none;
	box-shadow: none;
	color: white;
	width: 80%;
	height: 2rem;
	font-size: 1.5rem;
}

.inputContainer input:focus,
.resultContainer input:focus {
	outline: none;
}

.inputContainer label,
.resultContainer label {
	color:rgb(104, 104, 104);
	position: absolute;
	pointer-events: none;
	left: 80px;
	bottom: 5px;
	font-size: 1rem;
	display: block;
	transition: 0.5s;
}

.resultContainer label {
	bottom: 30px;
}

.inputContainer input:focus + label,
.inputContainer input:valid + label {
	transform: translateY(-30px);
}

.inputContainer span,
.resultContainer span {
	height: 0.05rem;
	background-color: white;
	width: 80%;
}

.inputContainer span:before {
	content: '';
	position: absolute;
	width: 80%;
	height: 0.05rem;
	background: #9c0000;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}

.inputContainer input:focus ~ span:before,
.inputContainer input:valid ~ span:before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.buttonContainer button {
	margin-top: 3rem;
	background-color: #333;
	box-shadow: none;
	border: none;
	border-radius: 1px;
	box-sizing: border-box;
	padding: 10px 10px;
	color: #fff;
	font-size: 2rem;
	
}

.buttonContainer button:hover {
	cursor: pointer;
	background-color: #420000;	
}